
    <% @events.each do |event| %>
      <%= render partial: 'event', locals: {event: event} %>
    <% end %>

<br>

<% if is_admin? %>
  <div class='text-end'>
    <%= link_to 'New event', new_event_path, class: 'btn-ritmo' %>
  </div>
<% end %>

<br>