<div id='about'>
  <div class='row text-center'>
    <div class='col pb-4'>
      <img src='ritmo.jpg' class='img img-thumbnail' %>
    </div>
  </div>
  <div class='row'>
    <div class='col px-sm-5 mx-sm-5 p-2 m-2'>
      <p class='mb-5'><a href="http://rppw.org/">RPPW.org</a>  is a community resource for those engaged in the scientific study of rhythm production and perception. It has emerged out of a loose community of psychologists, neuroscientists, and cognitive scientists who share an interest in the understanding of rhythmic aspects to human experience. Rhythm is at the core of a wide range of human tasks, from speaking and dancing, to walking and synchronising with others.</p>

      <p class='mb-5'>The principal vehicle of the community is an international biannual workshop, held in various picturesque locations in Europe and America. It is focused on the scientific study of the broad area of human movement timing and time perception. The workshop is traditionally centred around psychology and neuroscience, but we encourage participation from ethnomusicology and other relevant disciplines.</p>

      <p class='mb-5'><a href="https://www.uio.no/ritmo/english/news-and-events/events/conferences/2021/RPPW/keynote-speakers/index.html">RPPW 2021</a>  is hosted by RITMO Centre for Interdisciplinary Studies in Rhythm, Time and Motion at the University of Oslo. It is the 18th Rhythm Perception and Production Workshop, and the first time it has been hosted in Oslo.</p>

      <p><b>Programme committee</b></p>
      <ul class='list-group'>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/management/anneda/index.html">Anne Danielsen</a>  (chair) </li>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/postdoctoral-fellows/marrh/index.html">Mari Romarheim Haugen</a> </li>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/postdoctoral-fellows/michakrz/index.html">Michael Krzyzaniak</a> </li>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/postdoctoral-fellows/oliviel/index.html">Olivier Lartillot</a> </li>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/postdoctoral-fellows/georgisi/index.html">Georgios Sioros</a> </li>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/tenured/asolbakk/index.html">Anne-Kristin Solbakk</a> </li>
      </ul>
      <br>
      <p><b>Organizing committee</b></p>
      <ul class='list-group'>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/phd-fellows/guilherc/index.html">Guilherme Schmidt Câmara</a> </li>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/management/anneda/index.html">Anne Danielsen</a> </li>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/administration/maritjf/index.html">Marit Johanne Furunes</a> </li>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/management/alexanje/index.html">Alexander Refsum Jensenius</a> </li>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/management/annecwe/index.html">Anne Cathrine Wesnes</a> </li>
        <li class='list-group-item'> <a href="https://www.uio.no/ritmo/english/people/phd-fellows/agatazw/index.html">Agata Zelechowska</a> </li>
      </ul>
    </div>
  </div>
</div>