<div class='row'>
  <div class='col pb-5'>
    <img src='ritmo.jpg' class='img img-thumbnail' %>
  </div>
</div>
<div class='row'>
  <div class='col px-sm-5 mx-sm-5 p-2 m-2'>
    <p> RPPW.org is a community resource for those engaged in the scientific study of rhythm production and perception. It has emerged out of a loose community of psychologists, neuroscientists, and cognitive scientists who share an interest in the understanding of rhythmic aspects to human experience. . Rhythm is at the core of a wide range of human tasks, from speaking and dancing, to walking and synchronising with others. The biannual workshop is focused on the scientific study of the broad area of human movement timing and time perception.
    </p>
    <p>The principal vehicle of the community is a biannual workshop, held in various picturesque locations in Europe (and soon, America!). It is focused on the scientific study of the broad area of human movement timing and time perception.</p>
  </div>
</div>
