<p>RPPW.org is a community resource for those engaged in the scientific study of rhythm production and perception. It has emerged out of a loose community of psychologists, neuroscientists, and cognitive scientists who share an interest in the understanding of rhythmic aspects to human experience. . Rhythm is at the core of a wide range of human tasks, from speaking and dancing, to walking and synchronising with others. The biannual workshop is focused on the scientific study of the broad area of human movement timing and time perception.
</p>
<p>The principal vehicle of the community is a biannual workshop, held in various picturesque locations in Europe (and soon, America!). It is focused on the scientific study of the broad area of human movement timing and time perception.</p>

<h2>RPPW 18, 2021</h2>

<p>We are pleased to announce that the 18th Rhythm Perception and Production Workshop (RPPW) will be held at RITMO Interdisciplinary Centre for Studies in Rhythm, Time and Motion at the University of Oslo in Norway from the 22nd to the 25th of June 2021. RPPW is an international biennial event that brings researchers from a range of disciplines together to engage in discussions about the scientific study of rhythm. Rhythm is at the core of a wide range of human tasks, from speaking and dancing, to walking and synchronizing with others. The workshop will host oral presentations, posters, and tutorials with satellite activities. We are planning for a hybrid format, where presentation and attendance could be either in person or online. This format might have to be adapted to adhere to changing health and safety regulations.
</p>
<h4>Call for submissions</h4>
<p>Presenters are asked to submit abstracts of up to 500 words plus references for poster and oral presentation. The EasyChair submission portal will open on 15 November 2020 and will close on 15 February 2021.</p>

<p>Short proposals for tutorials and workshops should be sent to rppw-2021@ritmo.uio.no.</p>


<h2>RPPW 17, 2019</h2>

<p>The 17th RPPW was held at the Park Place Hotel in Traverse City, Michigan, USA from the 17th to the 20th of June 2019. RPPW is an international biannual event that brings researchers from a range of disciplines together to engage in discussions about the scientific study of rhythm. Rhythm is at the core of a wide range of human tasks, from speaking and dancing, to walking and synchronising with others. The workshop is traditionally centred around psychology and neuroscience, but we encourage participation from other relevant disciplines. The workshop will host oral presentations, posters, and tutorials with satellite activities. The website and submission portal are availalble at rppw.grahnlab.com.</p>

<p>Potential topics include (but are not limited to):</p>

<ul>
<li>Rhythm and synchronisation</li>
<li>Synchrony and order perception</li>
<li>Multisensory temporal processing</li>
<li>Acquisition of time knowledge and temporal concepts</li>
<li>Timing and memory, attention, emotion and metacognition</li>
<li>Beat tracking and onset detection</li>
<li>Music Structure analysis</li>
<li>Expressive timing and performance modelling</li>
<li>Ensemble or group performance</li>
<li>Entrainment</li>
<li>Rhythm in neurorehabilitation</li>
</ul>
<p>The meeting is organized by J. Devin McAuley (Michigan State University) and Jessica Grahn (University of Western Ontario). They are reachable at rppw2019@gmail.com.</p>


<h2>RPPW 16, 2017 </h2>
<p>The 16th RPPW was held at the Digital Media Technology Lab in Birmingham City University’s Millennium Point Campus in Birmingham, UK from the 3rd to the 5th of July 2017. RPPW is an international biannual event that brings researchers from a range of disciplines together to engage in discussions about the scientific study of rhythm The workshop is traditionally centred around psychology and neuroscience, however this year we were additionally encouraging participation from the Music Information Retrieval Community to encourage cross-pollination and interdisciplinary collaboration. The workshop hosted oral presentations, posters and tutorials with satellite activities.</p>


<h2>RPPW 15, 2015</h2>
<p>RPPW was held once again in Amsterdam: the third time the meeting has been held in the Netherlands. The workshop took place from July 6 to 8, 2015. A jolly good time was had by all. Here is the website: http://www.move.vu.nl/rppw15.</p>


<h2>RPPW 14, 2013</h2>

<p>The 14th RPPW was held at the University of Birmingham, UK between 11th and 13th September 2013.</p>

<p>The 14th RPPW consisted of three days of talks and poster sessions plus an optional satellite workshop held on the 10th September, covering methods and analysis of multi-person movement timing.</p>

<p>The organising committee was: Prof. Alan Wing, Dr. Mark Elliott, Dr. Max di Luca, Dr .Juliane Honisch, Dr. Kim Quinn, Dr. Satoshi Endo and Danni Sims.</p>

<p>In keeping with past tradition, here is a link to photos of the event.</p>

Link to Programme (pdf) for RPPW 14

Rhythms in Scotland
Rhythms in Scotland was a workshop programme funded by the Royal Society of Edinburgh. There was a series of events on rhythm in Glasgow and Edinburgh during 2011-2012, culminating in a three-day international workshop, Perspectives on Rhythm and Timing (PoRT), in July 2012.

Events included:

Autumn 2011: Two half-day tutorials on rhythmic aspects of English as foreign language at the University of Glasgow.
A half-day seminar on rhythm models held in March 2012 at the Speech and Language Therapy (SLT) Unit of the University of Strathclyde.
A one-day symposium, Approaches to Rhythm and Timing in Scotland Today (ARTiST), held in April 2012 at the University of Edinburgh.
A three-day interdisciplinary workshop, Perspectives on Rhythm and Timing (PoRT), held at the University of Glasgow, UK, on July 19-21, 2012.
A special issue of Transactions of the Royal Philosophical Society B based on talks from PoRT was published in December 2014.


<h2>RPPW 13, 2011</h2>

RPPW 13 was held at the Max Planck Institute for Human Cognitive and Brain Sciences in Leipzig, Germany, from July 13 to 15, 2011. The website seems to have gone, but here is the original call for submissions, and here are a few pictures.

We also still have the Programme (pdf)


<h2>RPPW 12, 2009</h2>

The 12th Rhythm Production and Perception Workshop (RPPW 2009) was held in Lille, France from July 15th to 17th, 2009. The workshop was organised by Yvonne Delevoye-Turrell and took place on Lille University campus. Information and pictures are available here.

Special Issue of Cortex on the Rhythmical Brain
The journal Cortex has a new special issue devoted entirely to rhythm and brains. Articles are free to access. The special issue is available online here (Hat tip to Manon Grube for this)