<h1 class='underlined mb-5'>Social</h1>
<div id='social' class='row'>
  <div class='col-sm-6'>
    <h4 class='mb-4'>Slack</h1>
    <p class='text-center'>
      <img src="/coffee1.jpg" class="img-thumbnail img-fluid" alt="coffee beans">
    </p>
    <p class='mb-5'>Want to meet up and chat with fellow conference participants? We have a Slack channel just for this purpose - come join us!</p>

    <p class='text-center'>
      <a href="https://join.slack.com/t/rppw2021/shared_invite/zt-r37pbtfm-YT_OBIqvhhpPIm~1baZysA" class="btn-ritmo" target="_blank">Join us on Slack!</a>
    </p>
  </div>
  <div class='col-sm-6'>
    <h4 class='mb-4'>Zoom</h1>
    <p class='text-center'>
      <img src="/coffee2.jpg" class="img-thumbnail img-fluid" alt="coffee beans">
    </p>
    <p class='mb-5'>Want to talk to other participants, and see what’s going on in the RITMO breakroom? Join us in there on Zoom!</p>

    <p class='text-center'>
      <a href="https://uio.zoom.us/j/64601680538?pwd=djFIRWhuNHBORXcrQjk1bXo2UUg1UT09" class="btn-ritmo" target="_blank">Join us on Zoom!</a>
    </p>
  </div>
  </div>
</div>