<div id='social' class='row'>
  <div class='col-sm-6 offset-sm-3'>
    <h1 class='underlined mb-4'>Social</h1>
    <p class='text-center'>
      <img src="/coffee2.jpg" class="img-thumbnail img-fluid" alt="coffee beans">
    </p>
    <p class='mb-5'>Want to meet up and chat with fellow conference participants? We have a Slack channel just for this purpose - come join us!</p>

    <p class='text-center'>
      <a href="https://join.slack.com/t/rppw2021/shared_invite/zt-r37pbtfm-YT_OBIqvhhpPIm~1baZysA" class="btn-ritmo" target="_blank">Join us on Slack!</a>
    </p>
  </div>
</div>