<div id='social'>
  <h1 class='underlined'>Social</h1>
  <p>Want to meet up and chat with fellow conference participants? We have social Zoom rooms and a Slack channel just for this purpose.</p>
  <!-- <p>Come join us for a coffee!</p> -->

  <div class='row'>
    <div class='col py-3'>
      <div class="card" style="width: 18rem;">
        <img src="/coffee1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Zoom room 1</h5>
          <p class="card-text">Join us for some general chit chat over a coffee or tea.</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">https://zoom.com/link_to_room</a>
        </div>
      </div>
    </div>
    <div class='col py-3'>
      <div class="card" style="width: 18rem;">
        <img src="/tea1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Zoom room 2</h5>
          <p class="card-text">The other room too busy? Partake in your caffinated beverage with us instead!</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">https://zoom.com/link_to_room</a>
        </div>
      </div>
    </div>
    <div class='col py-3'>
      <div class="card" style="width: 18rem;">
        <img src="/coffee2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Slack channel</h5>
          <p class="card-text">For those that prefer text-based exchanges with their tea & biscuits.</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">https://slack.com/link_to_channel</a>
        </div>
      </div>
    </div>
  </div>
</div>