@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/vendor/rfs";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "./actiontext.scss";

html * {
  font-family: Verdana;
}

#header{
  background-color: #FF502F;
  color: #fff;
  @include font-size(4rem);
  font-weight: 700;
  .subheading{
    @include font-size(0.8rem);
    color: black;
  }
}
#searchbar{
  background-color: #5BD1D7;
}
#menubar{
 background-color: #FFF;
 padding: 2em 2em;
}

// ------------------------------------------------------------------
// NAV
// ------------------------------------------------------------------

.nav{
  @include font-size(1.1rem);
  a{
    color: #004D61;
    @include rfs(2rem, border-radius);
  }
  .nav-link.active{
    color: #004D61;
    text-decoration: underline;
    font-weight: bold;
  }
  a:hover{
    color: #004D61;
    background-color: #eee;
  }
}


// ------------------------------------------------------------------
// FORMS
// ------------------------------------------------------------------
input.form-control.search{
  color: #FFF;
  background-color: #004D61;
  border: 0;
}
input.form-control.search:focus{
  color: #FFF;
  background-color: #004D61;
}
/* Chrome, Firefox, Opera, Safari 10.1+ */
input.form-control::placeholder {
  color: #DDD;
  opacity: 1; /* Firefox */
}
/* Internet Explorer 10-11 */
input.form-control:-ms-input-placeholder {
  color: #DDD;
}
/* Microsoft Edge */
input.form-control::-ms-input-placeholder {
  color: #DDD;
}

input.btn-login{
  width: 8.5em;
  color: #004D61;
  padding: 1em;
  border: 0;
  @include font-size(2rem);
  font-weight: 700;
  @include rfs(2rem, border-radius);
}

input.btn-login:hover{
  background-color: #004D61;
  color: #FF502F;
  border: 0;
}

.btn-ritmo{
  color: #004D61;
  background-color: #FBFBFB;
  border: 1px solid #004D61;
  padding: 15px;
  text-decoration: none;
}
.btn-ritmo:hover{
  color: #fff;
  background-color: #FF502F;
}

#main{
  background-color: #ECEFF8;
  h2{
    // font-family: "Myriad Pro";
    font-weight: bold;
    margin: 1.2em 0;
  }
  p{
    // font-family: "Myriad Pro";
    @include font-size(1.4rem);
  }
}

#footer{
  color: #ECEFF8;
  background-color: #004D61;
  padding: 2em 1em 0.8em 1em;
  @include font-size(0.8rem);
  text-align: center;
}

#notice{}

input#tzone{
  color: #777;
}