@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap/scss/vendor/rfs";

i.download{
  font-size: 1.2rem !important;
  vertical-align: -0.14em !important;
}

a:hover{
  background-color: transparent;
}

h1.underlined{
  @include font-size(1.7rem);
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 3px solid #111;
  margin-bottom: 2em;
}

.nav.dates{
  button{
    @include font-size(1.5rem);
    font-weight: bold;
    background-color: transparent;
    border: 0;
    color: #004D61;
  }
  .nav-link.active{
    color: black;
  }
  button:hover{
    color: black;
  }
}

.workshop{
  border-top: 2px solid #111;
  padding: 2em 0;
  margin: 2em 0;
  @include font-size(0.9rem);

  a{ color: #004D61; }
  h5.ws_title{
    @include font-size(1.1rem);
    font-weight: bold;
  }

  .tags{
    .badge{
      @include font-size(0.8rem);
      font-weight: normal;
      background-color: #fff !important;
      color: #004D61;
    }
  }

  a{
    text-decoration: none;
    .zoom{
      padding: 0.4em;
      @include rfs(1rem, border-radius);
      text-align: center;
      background-color: #fff;
      color: #004D61;
      border: 1px solid #004D61;
      font-weight: bold;
    }
    i{
      @include font-size(1.8rem);
    }
    .link_text{
      vertical-align: 0.3em;
      padding-left: 0.35em;
    }
  }
  .zoom:hover{
    background-color: #004D61;
    color: #fff;
  }
  a:hover{
    color: black;
  }
}
.zoom{
  margin-bottom: 0.8em;
}
button.map{
  padding: 0.4em;
  width: 100%;
  @include rfs(1rem, border-radius);
  text-align: center;
  background-color: #fff;
  color: #004D61;
  border: 1px solid #004D61;
  font-weight: bold;
  i{
    @include font-size(1.8rem);
  }
  .link_text{
    vertical-align: 0.3em;
    padding-left: 0.35em;
  }
}
button.map:hover{
  background-color: #004D61;
  color: #fff;
}

form{
  .tags-label{
    margin-right: 0.5em;
  }
  .tags{
    label{
      margin-left: 0.3em;
      margin-right: 1.2em;
    }
  }
}

p.noworkshops{
  text-align: center;
  padding: 5em;
}

#workshop{
  margin-bottom: 3em;
  .top-half{
    text-align: center;
    color: white;
    background-color: #004D61;
    border-radius: 1em 1em 0 0;
    padding: 2em;
    @include font-size(1.8rem);
    font-weight: bold;
  }
  .bottom-half{
    padding: 3em;
    background-color: white;
    color: #004D61;
    border-radius: 0 0 1em 1em;
    @include font-size(1.1rem);
    h3{
      color: #4f4f4f;
      @include font-size(1.2rem);
    }
    a{
      color: #004D61;
    }
    a:hover{
      color: #4f4f4f;
    }
    .tags{
      .badge{
        @include font-size(0.7rem);
        font-weight: normal;
        background-color: #aaa !important;
        color: white;
      }
    }
  }
}

// #5BD1D7 - blue
// #FF502F - red
// #004D61 - dark blue

a.filter:hover{
  background-color: #004D61;
  color: #fff;
}

a.filter{
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  padding: 0.8em 1.6em;
  color: #004D61;
  border: 2px solid #004D61;
}
.filter-box{
  margin-bottom: 2em;
}

.dates .badge{
  display: inline-block;
  font-size: 0.6em;
  margin-left: 0.6em;
  background-color: #fff !important;
  color: #004D61;
  border: 2px solid #004D61;
}

.dates .badge:hover{
 background-color: #004D61 !important;
 color: #fff;
}