<div id='footer'>
  <p>RPPW is an informal association of researchers.
  <br>For information about the workshop and the community, see <a href='https://rppw.org' target='_blank'>rppw.org</a></p>
</div>