<div id='footer'>
  <p>RPPW is an informal association of researchers.
  <br>Questions about the website and workshop can be addressed to Fred Cummins, or about the community in general, to Alan Wing.</p>
</div>