<div id='header'>
  <div class='row align-items-center p-5'>
    <div class='col-md-8 py-2'>
      RPPW.org
    </div>
    <div class='col-md-4'>
      <button type='button' class='btn btn-light btn-lg btn-login shadow'>REGISTER / LOGIN</button>
    </div>
  </div>
</div>