<div id='searchbar'>
  <div class='row px-5'>
    <div class='col-md-5 col-sm-6'>
      <form class="">
        <div class='form-group py-3'>
          <input class="form-control rounded-pill search" type="search" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </div>
    <div class='col-md-3 offset-md-4 col-sm-6'>
      <div class='form-group py-md-3 pb-3'>
        <input class="form-control rounded-pill" type="text" placeholder="Timezone">
      </div>
    </div>
  </div>
</div>