<div id='searchbar'>
  <div class='row px-5'>
    <div class='col-md-5 col-sm-6'>
      <form action="<%= events_path %>" method="get" accept-charset="UTF-8">
          <div class="input-group py-3">
            <input type="text" id="search" name="search" class="form-control search" type="search" placeholder="Search" aria-label="Search" aria-describedby="button-search">
            <button class="btn btn-search" type="submit" id="button-search">
              <i class='bi bi-search' style="color: white;"></i>
            </button>
          </div>
      </form>
    </div>
    <div class='col-md-3 offset-md-4 col-sm-6'>
      <div class='form-group py-md-3 pb-3'>
        <input class="form-control rounded-pill" id='tzone' type="text" placeholder="Timezone" readonly value="Timezone: GMT<%= display_time_zone(current_user) %>">
      </div>
    </div>
  </div>
</div>